<% if true %>
    <table class="table m-3 is-fullwidth">
        <thead>
            <tr>
                <th>Flight</th>
                <th>Departing From</th>
                <th>Arriving To</th>
                <th>Date</th>
                <th>Takeoff Time</th>
                <th>Flight Time</th>
                <th>Book</th>
            </tr>
        </thead>
    </table>
<% else %>
    <div class="m-4">
        <h3 class="is-size-3">No Flights Found</h3>
    </div>
<% end %>