<div class="columns">
    <div class="column is-8 is-offset-2">
        <div class="mb-5">
            <div class="m-5">
                <h3 class="is-size-4 has-text-weight-bold">Search For Bookings</h3>
            </div>
            
            <%= form_with url: bookings_path, method: :get do |f| %>
                <div class="actions">
                    <div class="field is-horizontal">
                        <div class="field-label has-text-left mr-0 is-align-self-center">
                            <%= f.label 'Enter Email:', class: 'label' %>
                        </div>
                        <div class="field-body is-flow-root">
                            <div class="field is-narrow">
                                <div class="control">
                                    <%= f.text_field :email, class: 'input' %>
                                </div>
                            </div>
                        </div>
                        <%= f.submit 'Search', class: 'button bordered ml-2' %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>